@tailwind base;
@tailwind components;
@tailwind utilities;

/****************************************
  Reset and Scrollbar
****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;

  /* firefox support */
  scrollbar-color: #1b1d23 #f5f5f5;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1d23;
  border-radius: 100vw;
  border: 0.25rem solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(27, 29, 35, 0.85);
}

/****************************************
  Base/Global Styles
****************************************/
.body {
  font-family: 'DM Sans', sans-serif;
}

/* Prevent's whitespace between main and footer in Contact.jsx for large screens. */
/* Footer is given a margin-top of auto. Bg-color matches main of Contact.jsx. */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.active {
  text-decoration: 2px underline;
  text-underline-offset: 0.25rem;
  /* color: #36536b; */
}

.ninja {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.container {
  margin-inline: auto;
  width: min(100% - 3rem, 375px);
}

@media (min-width: 768px) {
  .container {
    width: 689px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1110px;
  }
}

/****************************************
  Headings
****************************************/
