@tailwind base;
@tailwind components;
@tailwind utilities;

/****************************************
  Reset and Scrollbar
****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;

  /* firefox support */
  scrollbar-color: #1b1d23 #f5f5f5;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #1b1d23;
  border-radius: 100vw;
  border: 0.25rem solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(27, 29, 35, 0.85);
}

/****************************************
  Base/Global Styles
****************************************/
.body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  background-color: #000;
}

/* Prevent's whitespace between main and footer in Contact.jsx for large screens. */
/* Footer is given a margin-top of auto. Bg-color matches main of Contact.jsx. */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.active {
  text-decoration: 2px underline;
  text-underline-offset: 0.25rem;
  color: #000;
}

.ninja {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

.container {
  margin-inline: auto;
  width: min(100% - 3rem, 375px);
}

@media (min-width: 768px) {
  .container {
    width: 689px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1110px;
  }
}

/****************************************
  Headings and Text
****************************************/
.heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 3.33px;
}

.heading--sub {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.text--link,
.text--link--nav {
  text-transform: uppercase;
  font-weight: 700;
}

.text--link {
  font-size: 0.75rem;
  line-height: 15.62px;
  letter-spacing: 0.125rem;
}

.text--link--nav {
  font-size: 0.9375rem;
  line-height: 19.53px;
  letter-spacing: 0.15625rem;
}

.text--gallery {
  font-weight: 400;
  color: #fff;
  font-size: 0.8125rem;
  line-height: 16.93px;
}

@media (min-width: 768px) {
  .heading {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 4.17px;
  }

  .text--link--nav {
    font-size: 0.75rem;
    line-height: 15.62px;
    letter-spacing: 0.125rem;
  }
}
